<div class="header">
    <a href="#" id="backBtn" class="header-button header-back-button header-button-left">
        <button><div class="header-icon icon-back">Back</div></button>
    </a>

    <h1>Employee</h1>
    <a href="#" class="header-button header-button-icon header-button-right search">
        <button><div class="header-icon icon-search"></div></button>
    </a>
</div>

<div class="scroll striped" style="top:44px;">
    <div class="scroll-content">
    <div class="employee-summary">
        <header>
            <!--<img id="employeePic" src="<%= picture %>" width="85" height="85"/>-->

            <h1><%= firstName %> <%= lastName %></h1>
            <span class="link-text"><%= title %></span><br/>
            <span class="metadata"><%= city %></span>
        </header>
    </div>

        <ul class="tableview tableview-links">
            <% if (managerLastName) { %>
            <li>
                <a href="#employees/<%= managerId %>">
                    <div class="story">
                        <b>View Manager</b><br/>
                        <span class="metadata"><%= managerFirstName %> <%= managerLastName %></span>
                    </div>
                    <div class="action-icon icon-manager"/>
                </a>
            </li>
            <% } %>
            <% if (reportCount > 0) { %>
            <li>
                <a href="#employees/<%= id %>/reports">
                    <div class="story">
                        <b>View Direct Reports</b><br/>
                        <span class="metadata"><%= reportCount %></span>
                    </div>
                    <div class="action-icon icon-reports"/>
                </a>
            </li>
            <% } %>
            <li>
                <a href="tel:<%= officePhone %>">
                    <div class="story">
                        <b>Call Office</b><br/>
                        <span class="metadata"><%= officePhone %></span>
                    </div>
                    <div class="action-icon icon-call"/>
                </a>
            </li>
            <li>
                <a href="tel:<%= cellPhone %>">
                    <div class="story">
                        <b>Call Cell</b><br/>
                        <span class="metadata"><%= cellPhone %></span>
                    </div>
                    <div class="action-icon icon-call"/>
                </a>
            </li>
            <li>
                <a href="sms:<%= cellPhone %>">
                    <div class="story">
                        <b>SMS</b><br/>
                        <span class="metadata"><%= cellPhone %></span>
                    </div>
                    <div class="action-icon icon-sms"/>
                </a>
            </li>
            <li>
                <a href="mailto:<%= email %>">
                    <div class="story">
                        <b>Email</b><br/>
                        <span class="metadata"><%= email %></span>
                    </div>
                    <div class="action-icon icon-mail"/>
                </a>
            </li>
            <li>
                <a href="#" class="addContact">
                    <div class="story">
                        <b>Add to Contacts</b><br/>
                        <span class="metadata"><%= firstName %> <%= lastName %></span>
                    </div>
                    <div class="action-icon icon-contact"/>
                </a>
            </li>
            <li>
                <a href="#map">
                    <div class="story">
                        <b>Map</b><br/>
                        <span class="metadata">Scranton, PA</span>
                    </div>
                    <!--<div class="action-icon icon-contact"/>-->
                </a>
            </li>
        </ul>
    </div>
</div>